body {
	font-family: Arial, sans-serif;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="number"] {
	width: 50%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

input[type="submit"] {
	background-color: #990202;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #ff0000;
}